/*
!* begin - reset css *!
html, body,
div,
h1, h2, h3, h4, h5, h6,
p, a, span,
form, label, fieldset, input,
ul, li
{
  font-size: 16px;
  line-height: 1.15;
  font-weight: normal;
  margin: 0;
  padding: 0;
  border: none;
}
!* end - reset css *!
*/
