$desktopWidth: 1200px;
$tabletWidth: 768px;

$regularColor: #333333;
/*
!* begin - vars css *!

$regularColorLight: #959595;
$regularColorLighter: #a3a3a3;
$regularColorUltraLight: #eaeaea;
$buttonColor: #6cb7ca;
$showHideArrow: #fd7e56;

!* ads *!
$adsBackgroundColor: #f0f0f0;
$adsBorderColor: #cccccc;
$adsTextColor: #a2a2a2;

!* end - vars css *!



*/
