/* begin - font-face css */
@font-face {
  font-family: 'Bagnard';
  src: url('../font/bagnard.otf');
}

@font-face {
  font-family: 'Larsseit-Light';
  src: url('../font/larsseit/329136_0_0.eot');
  src: url('../font/larsseit/329136_0_0.eot?#iefix') format('embedded-opentype'), url('../font/larsseit/329136_0_0.woff2') format('woff2'), url('../font/larsseit/329136_0_0.woff') format('woff'), url('../font/larsseit/329136_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Larsseit-BoldItalic';
  src: url('../font/larsseit/329136_1_0.eot');
  src: url('../font/larsseit/329136_1_0.eot?#iefix') format('embedded-opentype'), url('../font/larsseit/329136_1_0.woff2') format('woff2'), url('../font/larsseit/329136_1_0.woff') format('woff'), url('../font/larsseit/329136_1_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Larsseit-ExtraBoldItalic';
  src: url('../font/larsseit/329136_2_0.eot');
  src: url('../font/larsseit/329136_2_0.eot?#iefix') format('embedded-opentype'), url('../font/larsseit/329136_2_0.woff2') format('woff2'), url('../font/larsseit/329136_2_0.woff') format('woff'), url('../font/larsseit/329136_2_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Larsseit-LightItalic';
  src: url('../font/larsseit/329136_3_0.eot');
  src: url('../font/larsseit/329136_3_0.eot?#iefix') format('embedded-opentype'), url('../font/larsseit/329136_3_0.woff2') format('woff2'), url('../font/larsseit/329136_3_0.woff') format('woff'), url('../font/larsseit/329136_3_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Larsseit-Bold';
  src: url('../font/larsseit/329136_4_0.eot');
  src: url('../font/larsseit/329136_4_0.eot?#iefix') format('embedded-opentype'), url('../font/larsseit/329136_4_0.woff2') format('woff2'), url('../font/larsseit/329136_4_0.woff') format('woff'), url('../font/larsseit/329136_4_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Larsseit-ExtraBold';
  src: url('../font/larsseit/329136_5_0.eot');
  src: url('../font/larsseit/329136_5_0.eot?#iefix') format('embedded-opentype'), url('../font/larsseit/329136_5_0.woff2') format('woff2'), url('../font/larsseit/329136_5_0.woff') format('woff'), url('../font/larsseit/329136_5_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Larsseit-Medium';
  src: url('../font/larsseit/329136_6_0.eot');
  src: url('../font/larsseit/329136_6_0.eot?#iefix') format('embedded-opentype'), url('../font/larsseit/329136_6_0.woff2') format('woff2'), url('../font/larsseit/329136_6_0.woff') format('woff'), url('../font/larsseit/329136_6_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Larsseit-MediumItalic';
  src: url('../font/larsseit/329136_7_0.eot');
  src: url('../font/larsseit/329136_7_0.eot?#iefix') format('embedded-opentype'), url('../font/larsseit/329136_7_0.woff2') format('woff2'), url('../font/larsseit/329136_7_0.woff') format('woff'), url('../font/larsseit/329136_7_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Larsseit-Italic';
  src: url('../font/larsseit/329136_8_0.eot');
  src: url('../font/larsseit/329136_8_0.eot?#iefix') format('embedded-opentype'), url('../font/larsseit/329136_8_0.woff2') format('woff2'), url('../font/larsseit/329136_8_0.woff') format('woff'), url('../font/larsseit/329136_8_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Larsseit-Thin';
  src: url('../font/larsseit/329136_9_0.eot');
  src: url('../font/larsseit/329136_9_0.eot?#iefix') format('embedded-opentype'), url('../font/larsseit/329136_9_0.woff2') format('woff2'), url('../font/larsseit/329136_9_0.woff') format('woff'), url('../font/larsseit/329136_9_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Larsseit-ThinItalic';
  src: url('../font/larsseit/329136_A_0.eot');
  src: url('../font/larsseit/329136_A_0.eot?#iefix') format('embedded-opentype'), url('../font/larsseit/329136_A_0.woff2') format('woff2'), url('../font/larsseit/329136_A_0.woff') format('woff'), url('../font/larsseit/329136_A_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Larsseit';
  src: url('../font/larsseit/329136_B_0.eot');
  src: url('../font/larsseit/329136_B_0.eot?#iefix') format('embedded-opentype'), url('../font/larsseit/329136_B_0.woff2') format('woff2'), url('../font/larsseit/329136_B_0.woff') format('woff'), url('../font/larsseit/329136_B_0.ttf') format('truetype');
}

/* end - font-face css */
