.promo-text-block {
    text-align: center;
    color: $textColor;
    font-size: 24px;
    background-image: url(../i/logo-short.svg);
    background-repeat: no-repeat;
    background-position: center 122px;
    padding: 220px 0 50px;
    margin: 0 auto;
    width: 1000px;
    font-family: Larsseit-Light, sans-serif;
    background-size: 68px auto;
}

@media only screen and (max-width: $desktopWideWidth) {

    .promo-text-block {
        width: auto;
        padding: 109px 15px 20px;
        background-size: 55px auto;
        background-position: center 40px;
        font-size: 17px;
        line-height: 20px;
    }

}

@media only screen and (max-width: $tabletWidth) {

}

@media only screen and (max-width: $phoneWidth) {

}
