// more than 1200
//.swiper-container.horizontal-scroll {
  // add needed code here (c) Cap
//}

.swiper-container {
  overflow: initial;
}

.swiper-wrapper {
  display: block;
}

.added-swiper {

  &.swiper-container {
    overflow: hidden;
  }

  .swiper-wrapper {
    display: flex;
  }

}

/*
@media only screen and (max-width: $desktopWidth) {

  .swiper-container.horizontal-scroll {
    width: 100%;
    overflow: hidden;
    .swiper-wrapper {
      display: flex;
    }
    .swiper-slide {
      float: left;
    }
  }

}

*/
