/* begin - font-face css */
@font-face {
  font-family: 'signika-light';
  src: url('../font/signika/Signika-Light.otf');
}

@font-face {
  font-family: 'signika-regular';
  src: url('../font/signika/Signika-Regular.otf');
}

@font-face {
  font-family: 'signika-semibold';
  src: url('../font/signika/Signika-Semibold.otf');
}

@font-face {
  font-family: 'signika-bold';
  src: url('../font/signika/Signika-Bold.otf');
}

/* end - font-face css */
