/* log-in */

.modal-dialog--margin-top {
  width: 630px;
  margin: 212px auto 0;
}

.modal-backdrop {
  background-color: $popupBackgroundColor;
}

.modal-content--container {
  background-color: $lightGray;

  border: none;
  box-shadow: none;
  border-radius: 0;
}

.modal-content__header {
  padding: 38px 0 6px;
  clear: both;
}

.modal-content__logo-short {
  width: 58px;
}

.modal-content__sing {
  margin-top: 11px;
  font-family: Larsseit-Bold, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: $blue;
}

.modal-content__body {
  padding: 5px 130px 35px;
  border-bottom: 1px solid #fff;
}

label.modal-content__title {
  font-weight: normal;
  margin-bottom: 10px;
}

.modal-content__title {
  font-family: Larsseit-Bold, sans-serif;
  font-size: 16px;

  color: $blue;
}

.modal-content__input {
  border: none;
  border-radius: 0;
  height: 40px;
  margin-bottom: 8px;
  &:focus {
    box-shadow: none;
    outline: 2px solid $orange;
  }
}

.modal-content__btn {
  padding: 15px 0 0;
}

.modal-content__btn-access {
  display: block;
  width: 100%;
  padding: 11px 0 7px;
  font-family: Larsseit-Bold, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid transparent;
  color: #fff;
  background-color: $orange;
  &:hover, &:focus {
    text-decoration: none;
    color: $orange;
    background-color: #fff;
    border: 2px solid $orange;
  }
}

.modal-content__text-divider {
  font-family: Larsseit-Bold, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  padding: 19px 0 3px;
  position: relative;
  display: block;

  color: $blue;

  &:after, &:before {
    border-bottom: 1px solid #fff;
    content: "";
    width: 44.9%;
    position: absolute;
    top: 28px;
  }
}

.modal-content__text-divider:after {
  margin-left: 2%;
}

.modal-content__text-divider:before {
  margin-left: -47%;
}

.modal-content__btn-facebook {
  display: block;
  width: 100%;
  padding: 9px 0 5px;
  font-family: Larsseit-Bold, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: $orange;
  background-color: #fff;
  border: 2px solid $orange;
  &:hover, &:focus {
    background-color: $orange;
    border: 2px solid transparent;
    color: #fff;
    background-image: none;
  }
  background-image: url(../i/social-icon-orange-fb.svg);
  background-repeat: no-repeat;
  background-size: 8px 16px;
  background-position: 12px 9px;
}

.modal-content__footer {
  padding: 29px 0 37px;
}

.modal-content__footer-text {
  font-size: 14px;
  color: $textColor;
  margin: 0;
}

.modal-content__footer-text--up {
  font-size: 16px;
  margin-bottom: 5px;
}

.modal-content__footer-link {
  margin-bottom: 13px;
  text-decoration: none;
  color: $orange;
  border-bottom: 1px solid $orange;
  &:hover, &:focus {
    text-decoration: none;
    color: $orange;
    border-bottom: 1px solid transparent;
  }
}

.modal-content__footer-terms {
  color: $orange;
  border-bottom: 1px solid transparent;
  &:hover {
    color: $orange;
    border-bottom: 1px solid $orange;
  }
}

@media only screen and (max-width: $desktopWideWidth) {

  .modal-dialog--margin-top {
    width: 630px;
    margin: 75px auto 0;
  }

}

@media only screen and (max-width: $tabletWidth) {

  .modal-dialog--margin-top {
    width: 630px;
    margin: 10% auto 0;
  }

}

@media only screen and (max-width: $phoneWidth) {

  .modal-dialog--margin-top {
    max-width: 95%;
    margin: 5% auto 0;
  }

  .modal-content__header {
    padding: 5% 0 0;
  }

  .modal-content__body {
    padding: 5px 15px 35px;
    border-bottom: 1px solid #fff;
  }

  .modal-content__footer {
    padding: 29px 5px 37px;
  }

}